$on-base: #a8aeb0;
$base-light: #ffffff;

$base: #252829;

$error: #B00020;

$success: #3ec409;


// rewrite-color
$on-button-base: #717376;

$on-signIn-header: #4a93c8;

$on-input-bg: #494c4e;


$on-description-text: #5F6668;

$on-a-links : #8B969D;

$on-checkbox-gray:#888888;


