@import "reset";
@import "fonts";
@import "colors";
@import "mixins";

@import "base";
@import "layout";
html,
body {
  height: 100%;
  margin: 0;
  font-family: $base-font-family;
  font-style: normal;
  //   font-size: $base-font-size;
  //   line-height: $base-line-height;
  background: $base;
  color: $on-base;
}
