.goods-container {
    display: flex;

    .left-box {
        width: 27.6%;
        border-right: 2px solid #2e3032;
        padding: 80px 0 0 132px;
        .company-logo {
            width: 271px;
            height: 60px;
            margin-bottom: 190px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .goods-categories {
            .list {
                .item {
                    display: flex;
                    align-items: center;
                    margin-bottom: 56px;
                    text-transform: uppercase;
                    cursor: pointer;

                    &.unChecked {
                        div {
                            color: #494c4e;
                        }
                        input::after {
                            background: #494c4e;
                        }
                    }
                    input {
                        width: 16px;
                        height: 18px;
                        position: relative;
                        margin-right: 35px;

                        &::after {
                            content: "";
                            position: absolute;
                            top: -1px;
                            left: -1px;
                            width: 20px;
                            height: 20px;
                            background: #a8a8a8;
                            border-radius: 50%;
                            cursor: pointer;
                        }
                        &.checked::before {
                            content: "";
                            position: absolute;
                            top: -15px;
                            left: -15px;
                            width: 45px;
                            height: 45px;
                            border: 1px solid #a8a8a8;
                            border-radius: 50%;
                        }
                    }
                    div {
                        font-weight: 400;
                        font-size: 22px;
                        line-height: 28px;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
    .right-box {
        width: 72.4%;
        padding: 92px 83px 68px 99px;
        min-height: calc(100vh - 320px);
        .header-mobile {
            display: none;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 70px;
            .company-logo {
                width: 271px;
                height: 60px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .search {
                width: 168px;
                height: 33px;
                position: relative;
                input {
                    background: #2f3336;
                    border-radius: 18px;
                    border: none;
                    padding: 0 0 0 43px;
                    width: 100%;
                    height: 100%;
                    font-size: 15px;
                    &:focus {
                        outline: #4A93C8 solid 1px;
                    }
                }
                img {
                    position: absolute;
                    top: 7px;
                    left: 13px;
                    width: 20px;
                    height: 20px;
                    object-fit: contain;
                }
            }
        }
        .goods-categories-mobile {
            display: none;
            margin-top: 90px;
            padding: 0 75px;
            .list {
                display: flex;
                justify-content: space-between;
                .item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 56px;
                    text-transform: uppercase;
                    cursor: pointer;
                    max-width: 125px;
                    text-align: center;

                    &.unChecked {
                        div {
                            color: #494c4e;
                        }
                        input::after {
                            background: #494c4e;
                        }
                    }
                    input {
                        width: 16px;
                        height: 18px;
                        position: relative;
                        margin-top: 20px;

                        &::after {
                            content: "";
                            position: absolute;
                            top: -1px;
                            left: -1px;
                            width: 20px;
                            height: 20px;
                            background: #a8a8a8;
                            border-radius: 50%;
                            cursor: pointer;
                        }
                        &:checked::before {
                            content: "";
                            position: absolute;
                            top: -15px;
                            left: -15px;
                            width: 45px;
                            height: 45px;
                            border: 1px solid #a8a8a8;
                            border-radius: 50%;
                        }
                    }
                    div {
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 23px;
                        text-transform: uppercase;
                    }
                }
            }
        }
        .top-menu {
            display: flex;
            justify-content: space-between;
            width: 100%;
            a {
                text-decoration: none;
            }
            .back-button {
                font-weight: 400;
                font-size: 20px;
                height: 100%;
                line-height: 25px;
                position: relative;
                color: #494c4e;
                display: flex;
                align-items: center;
                margin-left: 15px;
                text-transform: capitalize;

                &::before {
                    content: "";
                    position: absolute;
                    left: -13px;
                    top: calc(50% - 5px);
                    width: 6px;
                    height: 6px;
                    border-top: 2px solid #494c4e;
                    border-left: 2px solid #494c4e;
                    transform: rotate(-45deg);
                }
            }
            .title {
                font-weight: 400;
                font-size: 32px;
                line-height: 40px;
                text-transform: capitalize;

                color: #5f6668;
            }

            .search {
                width: 200px;
                height: 33px;
                position: relative;
                input {
                    background: #2f3336;
                    border-radius: 18px;
                    border: none;
                    padding: 0 0 0 43px;
                    width: 100%;
                    height: 100%;
                    font-size: 15px;
                    &:focus {
                        outline: #4A93C8 solid 1px;
                    }
                }
                img {
                    position: absolute;
                    top: 7px;
                    left: 13px;
                    width: 20px;
                    height: 20px;
                    object-fit: contain;
                }
            }
        }
        .goods-list {
            margin-top: 148px;
            .notFound {
                text-align: center;
                font-weight: 300;
                font-size: 25px;
                line-height: 32px;
                text-transform: capitalize;
                color: #383c3f;
                margin-top: -70px;
                margin-right: 114px;
            }
            .items {
                .item {
                    display: flex;
                    margin-bottom: 64px;
                    .image {
                        width: 150px;
                        height: 150px;
                        overflow: hidden;
                        border-radius: 10px;
                        background-color: white;
                        filter: brightness(0.8);
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .info {
                        display: flex;
                        justify-content: space-between;
                        position: relative;
                        margin-left: 70px;
                        width: 83%;
                        align-items: flex-end;

                        .headers {
                            display: none;
                        }

                        .name,
                        .units,
                        .quantity,
                        .size,
                        .bought {
                            font-weight: 400;
                            font-size: 25px;
                            line-height: 32px;
                            margin-bottom: 39px;
                            color: #c6cfd8;
                            img.noData {
                                margin-bottom: 6px;
                            }
                        }
                        .name {
                            max-width: 200px;
                            width: 100%;
                            text-transform: capitalize;
                        }
                        .bought {
                            margin-right: 35px;
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            bottom: -30px;
                            left: 0;
                            width: 100%;
                            border-bottom: 1px solid #3b3e41;
                            border-radius: 1px;
                        }
                    }
                    &:nth-child(1) {
                        .info {
                            border-top: 1px solid #3b3e41;
                            border-radius: 1px;
                            .headers {
                                display: flex;
                                justify-content: space-between;
                                position: absolute;
                                top: -35px;
                                left: 0;
                                width: 100%;
                                padding: 0 15px;
                                div {
                                    font-weight: 400;
                                    font-size: 20px;
                                    line-height: 25px;

                                    color: #494c4e;
                                }
                            }
                        }
                    }

                    &:last-child {
                        .info::after {
                            display: none;
                        }
                    }
                }
            }
        }
        .paginations {
            margin: 0 auto;
            max-width: 460px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            a {
                font-size: 18px;
                line-height: 23px;

                color: #494c4e;
            }
            span {
                font-weight: 500;
                font-size: 20px;
                line-height: 25px;

                color: #636769;
                .current,
                .last {
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 25px;
                    border: none;
                    padding: unset;
                }
                .current {
                    color: #c4c1c1;
                    position: relative;
                    margin-right: 20px;
                    &::after {
                        content: "";
                        position: absolute;
                        bottom: -10px;
                        width: 40px;
                        border: 2px solid #a8a8a8;
                        left: calc(50% - 22px);
                    }
                }
                .last {
                    margin-left: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 1550px) {
    .goods-container .left-box {
        width: 29.3%;
        border-right: 2px solid #2e3032;
        padding: 63px 0 0 83px;
    }
    .goods-container .right-box {
        width: 70.7%;
        padding: 69px 45px 65px 43px;
        min-height: calc(100vh - 477px);
    }
    .goods-container .left-box .company-logo {
        width: 185px;
        height: 50px;
        margin-bottom: 91px;
    }
    .goods-container .left-box .goods-categories .list .item input {
        width: 9px;
        height: 9px;
        &::after {
            content: "";
            position: absolute;
            top: -3px;
            left: -4px;
            width: 14px;
            height: 14px;
            background: #a8a8a8;
            border-radius: 50%;
            cursor: pointer;
        }
        &.checked::before {
            content: "";
            position: absolute;
            top: -17px;
            left: -18px;
            width: 40px;
            height: 40px;
            border: 1px solid #a8a8a8;
            border-radius: 50%;
        }
    }
    .goods-container .right-box .top-menu .back-button::before {
        content: "";
        position: absolute;
        left: -13px;
        top: calc(50% - 5.5px);
        width: 6px;
        height: 6px;
        border-top: 2px solid #494c4e;
        border-left: 2px solid #494c4e;
        transform: rotate(-45deg);
    }
    .goods-container .right-box .top-menu .search {
        width: 168px;
        height: 33px;
        position: relative;
    }
    .goods-container .left-box .goods-categories .list .item div {
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        text-transform: uppercase;
    }
    .goods-container .right-box .goods-list .items .item:nth-child(1) .info .headers div {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #494c4e;
    }
    .goods-container .right-box .goods-list {
        margin-top: 132px;
    }
    .goods-container .right-box .goods-list .items .item {
        margin-bottom: 60px;
        .image {
            width: 120px;
            height: 120px;
        }
        .info {
            margin-left: 54px;
            width: 79%;
            .name,
            .units,
            .size,
            .quantity,
            .bought {
                font-weight: 400;
                font-size: 18px;
                line-height: 23px;
                margin-bottom: 30px;
                color: #c6cfd8;
            }
            .name {
                max-width: 145px;
                width: 100%;
                text-transform: capitalize;
            }
            .name,
            .units,
            .size,
            .quantity {
                img {
                    width: 34px;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .bought {
                margin-right: 25px;
                img {
                    width: 17px;
                    height: 18px;
                    object-fit: contain;
                }
            }
            &::after {
                bottom: -25px;
            }
        }
    }
    .goods-container .right-box .goods-list .notFound {
        text-align: center;
        font-weight: 300;
        font-size: 20px;
        line-height: 25px;
        text-transform: capitalize;
        color: #383c3f;
        margin-top: -70px;
        margin-right: 114px;
    }
}
@media screen and (max-width: 1120px) {
    .goods-container .left-box {
        display: none;
    }
    .goods-container .right-box {
        width: 100%;
        padding: 75px 50px;
    }
    .goods-container .right-box .goods-list {
        margin-top: 70px;
    }
    .goods-container .right-box .goods-list .items .item {
        margin-bottom: 60px;
        .image {
            width: 120px;
            height: 120px;
        }
        .info {
            margin-left: 54px;
            width: 83%;
            .name,
            .units,
            .size,
            .quantity,
            .bought {
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                margin-bottom: 30px;
                color: #c6cfd8;
            }
            .name {
                max-width: 135px;
                width: 100%;
                text-transform: capitalize;
            }
            .name,
            .units,
            .size,
            .quantity {
                img {
                    width: 30px;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .bought {
                margin-right: 25px;
                img {
                    width: 17px;
                    height: 18px;
                    object-fit: contain;
                }
            }
            &::after {
                bottom: -25px;
            }
        }
    }
    .goods-container .right-box {
        .top-menu {
            padding: 0 23px;
            .search {
                display: none;
            }
            .title {
                margin: 0 auto;
            }
        }
        .header-mobile {
            display: flex;
            padding: 0 23px;
        }
        .goods-categories-mobile {
            display: block;
            .list .item input {
                width: 9px;
                height: 9px;
                &::after {
                    content: "";
                    position: absolute;
                    top: -3px;
                    left: -4px;
                    width: 14px;
                    height: 14px;
                    background: #a8a8a8;
                    border-radius: 50%;
                    cursor: pointer;
                }
                &.checked::before {
                    content: "";
                    position: absolute;
                    top: -17px;
                    left: -18px;
                    width: 40px;
                    height: 40px;
                    border: 1px solid #a8a8a8;
                    border-radius: 50%;
                }
            }
        }
    }
    .goods-container .right-box .goods-list .notFound {
        text-align: center;
        font-weight: 300;
        font-size: 20px;
        line-height: 25px;
        text-transform: capitalize;
        color: #383c3f;
        margin-top: 0;
        margin-right: 0;
    }
}
@media screen and (max-width: 750px) {
    .goods-container .right-box .goods-categories-mobile {
        padding: 0;
    }
    .goods-container .right-box {
        width: 100%;
        padding: 32px 15px;
        .top-menu {
            .back-button {
                font-size: 10px;
                line-height: 13px;
                &::before {
                    content: "";
                    position: absolute;
                    left: -13px;
                    top: calc(50% - 4.5px);
                    width: 6px;
                    height: 6px;
                    border-top: 1px solid #494c4e;
                    border-left: 1px solid #494c4e;
                    transform: rotate(-45deg);
                }
            }
            .title {
                font-size: 16px;
                line-height: 20px;
            }
        }
        .paginations {
            max-width: 300px;
            a {
                font-size: 10px;
                line-height: 13px;
            }
            span {
                font-size: 11px;
                line-height: 14px;
                font-weight: 500;

                .current,
                .last {
                    font-weight: 400;
                    font-size: 11px;
                    line-height: 14px;
                }

                .current::after {
                    content: "";
                    position: absolute;
                    bottom: -6px;
                    width: 17px;
                    border: 1px solid #a8a8a8;
                    left: calc(50% - 10px);
                }
            }
        }
    }
    .goods-container .right-box .header-mobile {
        padding: 0 18px;
        margin-bottom: 34px;
    }
    .goods-container .right-box .header-mobile .company-logo {
        width: 112px;
        height: 30px;
    }

    .goods-container .right-box .header-mobile .search {
        width: 80px;
        height: 20px;
        position: relative;
        input {
            padding: 0 0 0 20px;
            font-size: 10px;
            line-height: 20px;
        }
        img {
            position: absolute;
            top: 9px;
            left: 8px;
            width: 8px;
            height: 8px;
            object-fit: contain;
        }
    }
    .goods-container .right-box .goods-categories-mobile {
        margin-top: 21px;
        padding: 0 20px;
        .list {
            .item {
                max-width: 50px;
                margin-bottom: 30px;
                div {
                    font-size: 7.5px;
                    line-height: 10px;
                }
                input {
                    width: 0;
                    height: 0;
                    &::after {
                        content: "";
                        position: absolute;
                        top: -3px;
                        left: -4px;
                        width: 7px;
                        height: 7px;
                        background: #a8a8a8;
                        border-radius: 50%;
                        cursor: pointer;
                    }
                    &.checked::before {
                        content: "";
                        position: absolute;
                        top: -9px;
                        left: -10px;
                        width: 17px;
                        height: 17px;
                        border: 1px solid #a8a8a8;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
    .goods-container .right-box .goods-list {
        margin-top: 25px;
        .items {
            .item:nth-child(1) {
                .image {
                    margin-top: 10px;
                }
                .info {
                    .headers {
                        top: -20px;
                        div {
                            font-size: 6px;
                            line-height: 8px;
                        }
                    }
                }
            }
            .item {
                margin-bottom: 44px;
                .image {
                    width: 60px;
                    height: 60px;
                }
                .info {
                    margin-left: 5px;
                    width: 89%;
                    padding: 0 15px;

                    .name,
                    .units,
                    .size,
                    .quantity {
                        font-size: 8px;
                        line-height: 10px;
                        margin-bottom: 18px;
                        img.noData {
                            width: 11px;
                            margin-bottom: 3px;
                        }
                    }

                    .name {
                        max-width: 60px;
                    }
                    .bought {
                        margin-right: 0;
                        margin-bottom: 15px;
                        img {
                            width: 8px;
                            height: 9px;
                        }
                    }
                    &::after {
                        bottom: -23px;
                    }
                }
            }
        }
    }
    .goods-container .right-box .goods-list .notFound {
        text-align: center;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        text-transform: capitalize;
        color: #383c3f;
        margin-top: 0;
        margin-right: 0;
    }
}
