<div class="goods-container">
    <div class="left-box" *ngIf="goodsTypes">
        <a routerLink="/">
            <div class="company-logo"><img src="assets/img/logo.svg" alt=""></div>
        </a>
        <div class="goods-categories">
            <ul class="list">
                <li class="item" *ngFor="let type of goodsTypes" (click)="setCurrentType(type)"
                    [ngClass]="{'unChecked': currentType !== type}">
                    <input type="radio" name="good-category" [checked]="currentType === type" [ngClass]="{'checked': currentType === type}">
                    <div>{{type}}</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="right-box" *ngIf="goods">
        <div class="header-mobile">
            <a routerLink="/">
                <div class="company-logo"><img src="assets/img/logo.svg" alt=""></div>
            </a>
            <div class="search">
                <img src="assets/icons/Search.svg" alt="">
                <input type="text" [ngModel]='searchTerm' (ngModelChange)='searchTermChanged.next($event)' />
            </div>
        </div>
        <div class="top-menu">
            <a routerLink="/news">
                <div class="back-button">news</div>
            </a>
            <span class="title">List of necessary goods</span>
            <div class="search">
                <img src="assets/icons/Search.svg" alt="">
                <input type="text" [ngModel]='searchTerm' (ngModelChange)='searchTermChanged.next($event)' />
            </div>
        </div>
        <div class="goods-categories-mobile">
            <ul class="list">
                <li class="item" *ngFor="let type of goodsTypes" (click)="setCurrentType(type)"
                    [ngClass]="{'unChecked': currentType !== type}">
                    <div>{{type}}</div>
                    <input type="radio" name="good-category" [checked]="currentType === type" [ngClass]="{'checked': currentType === type}">
                </li>
            </ul>
        </div>
        <div class="goods-list">
            <div class="notFound" *ngIf="!goods.docs.length">"{{searchTerm}}" goods not found</div>
            <div class="items" *ngIf="goods">
                <div class="item" *ngFor="let goodsItem of goods.docs">
                    <div class="image">
                        <img [src]="goodsItem.photo || noPhotoUrl" alt="">
                    </div>
                    <div class="info">
                        <div class="headers">
                            <div>Goods name</div>
                            <div>Unit of measurement</div>
                            <div>Size</div>
                            <div>Quantity</div>
                            <div>Bought</div>
                        </div>
                        <div class="name">{{goodsItem.productName}}<img *ngIf="!goodsItem.productName" class="noData"
                                src="assets/icons/noneIcon.svg"></div>
                        <div class="units">{{goodsItem.packing}}<img *ngIf="!goodsItem.packing" class="noData"
                                src="assets/icons/noneIcon.svg"></div>
                        <div class="size">{{goodsItem.size}}<img *ngIf="!goodsItem.size" class="noData"
                                src="assets/icons/noneIcon.svg"></div>
                        <div class="quantity">{{goodsItem.count}}<img *ngIf="!goodsItem.count" class="noData"
                                src="assets/icons/noneIcon.svg"></div>
                        <div class="bought"><img
                                [src]="goodsItem.isBought ? 'assets/icons/trueIcon.svg': 'assets/icons/falseIcon.svg'"
                                alt=""></div>
                    </div>
                </div>

            </div>
        </div>
        <div class="paginations" *ngIf="goods.docs.length">
            <a (click)="getGoods(1)">First</a>
            <a (click)="getGoods(goods.prevPage)">Previous</a>
            <span>
                <span class="current">{{goods.page}}</span> of <span class="last">{{goods.totalPages}}</span>
            </span>
            <a (click)="getGoods(goods.nextPage)">Next</a>
            <a (click)="getGoods(goods.totalPages)">Last</a>
        </div>
    </div>
</div>
<app-footer></app-footer>