/* MODAL STYLES
-------------------------------*/
jw-modal {
    /* modals are hidden by default */
    display: none;

    .jw-modal {
        /* modal container fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        /* z-index must be higher than .jw-modal-background */
        z-index: 1000;

        /* enables scrolling for tall modals */
        overflow: auto;

        .jw-modal-body {
            padding: 20px;
            margin: 40px;
            max-width: 808px;
            width: 100%;
            max-height: 808px;
            height: 100%;
            background: #141618;
            border-radius: 20px;
        }
    }

    .jw-modal-background {
        /* modal background fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        /* semi-transparent black  */
        background-color: #000;
        opacity: 0.75;

        /* z-index must be below .jw-modal and above everything else  */
        z-index: 900;
    }
}

body.jw-modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}

.donate-modal {
    .jw-modal {
        .jw-modal-body {
            position: relative;
            padding: 97px 28px;
            .modal-close {
                position: absolute;
                top: 45px;
                right: 30px;
                width: 30px;
                height: 30px;
                background: none;
                border: none;

                &::after {
                    content: "";
                    position: absolute;
                    width: 42px;
                    height: 2px;
                    left: -5px;
                    background-color: #343539;
                    transform: rotate(45deg);
                }

                &::before {
                    content: "";
                    position: absolute;
                    left: -5px;
                    width: 42px;
                    height: 2px;
                    background-color: #343539;
                    transform: rotate(-45deg);
                }
            }
            .payment-methods {
                h4 {
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 39px;
                    text-align: center;
                    
                    color: #ffffff;
                }
                p {
                    font-weight: 200;
                    font-size: 18px;
                    line-height: 23px;
                    text-align: center;
                    margin-top: 15px;
                    color: #3e4346;
                }
                form {
                    display: flex;
                    justify-content: space-evenly;
                    margin: 60px auto;
                    width: 100%;
                    max-width: 516px;
                }
                .method {
                    margin: 0;
                    display: flex;
                    align-items: center;
                    justify-content: left;
                    cursor: pointer;
                    input {
                    }
                    .method-image {
                        width: 112px;
                        height: 80px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 1.6px solid #343539;
                        border-radius: 8px;
                        img {
                            object-fit: contain;
                        }
                    }
                }
            }
            .pm-form {
                max-width: 516px;
                margin: 0 auto;
                h4 {
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 39px;
                    text-align: center;

                    color: #ffffff;
                    margin-top: 62px;
                    margin-bottom: 47px;
                    font-family: "Inter";
                }

                form {
                    display: flex;
                    flex-direction: column;

                    label {
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 24px;
                        margin-bottom: 15px;
                        color: #ffffff;
                        font-family: "Inter";
                    }
                    input {
                        background: #242628;
                        border-radius: 20px;
                        border: none;
                        font-family: "Inter";

                        width: 100%;
                        height: 47px;
                        padding: 0 15px;
                        font-size: 23px;
                    }
                    #address{
                        margin-bottom: 30px;
                    }
                    button {
                        margin: 44px auto 0;
                    }
                }
            }
        }
    }
}

#success-modal, #cancel-modal{
    .jw-modal{
        .jw-modal-body{
            max-width: 360px;
            max-height: 360px;
        }
    }
}

@media screen and (max-width: 800px) {
    .donate-modal .jw-modal .jw-modal-body .modal-close {
        position: absolute;
        top: 45px;
        right: 30px;
        width: 20px;
        height: 20px;
        background: none;
        border: none;
    }
    .donate-modal .jw-modal .jw-modal-body .modal-close::before {
        content: "";
        position: absolute;
        left: -5px;
        width: 30px;
        height: 2px;
        background-color: #343539;
        transform: rotate(-45deg);
    }
    .donate-modal .jw-modal .jw-modal-body .modal-close::after {
        content: "";
        position: absolute;
        width: 30px;
        height: 2px;
        left: -5px;
        background-color: #343539;
        transform: rotate(45deg);
    }
    jw-modal .jw-modal .jw-modal-body {
        width: 100%;
        height: 100%;
        background: #141618;
        border-radius: 0;
        max-width: unset;
        max-height: unset;
        margin: 0;
    }
    .donate-modal .jw-modal .jw-modal-body .payment-methods h4 {
        font-weight: 700;
        font-size: 26px;
        line-height: 33px;
        text-align: center;
        color: #ffffff;
    }
    .donate-modal .jw-modal .jw-modal-body .payment-methods p {
        font-weight: 200;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        margin-top: 5px;
        color: #3e4346;

    }
    .donate-modal .jw-modal .jw-modal-body .payment-methods form {
        display: flex;
        justify-content: space-evenly;
        margin: 35px auto;
    }
    .donate-modal .jw-modal .jw-modal-body .pm-form form label {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        margin: 15px 0;
        color: #ffffff;
        font-family: "Inter";
    }
    .donate-modal .jw-modal .jw-modal-body .pm-form form input {
        background: #242628;
        border-radius: 20px;
        border: none;
        margin-bottom: 0;
        font-family: "Inter";
        width: 100%;
        height: 40px;
        padding: 0 15px;
        font-size: 18px;
        line-height: 23px;
    }
    .donate-modal .pm-form  form  button {
        margin-top: 60px !important;
    }
}

@media screen and (max-width: 440px) {
    .donate-modal .jw-modal .jw-modal-body .payment-methods .method .method-image {
        width: 65px;
        height: 46px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1.6px solid #343539;
        border-radius: 8px;
        padding: 10px;
    }
    .donate-modal .jw-modal .jw-modal-body .payment-methods .method .method-image img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
}
