@import "sass/colors";

.password {
  display: flex;
  position: relative;
  input {
    &::placeholder {
      letter-spacing: 2px;
    }
  }
  &__actions {
    position: absolute;
    right: 16px;
    top: 14px;
    min-width: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    mat-icon {
      color: $base;
    }
  }
}

:host-context(.form-field_error) {
  input {
    border: 1px solid $error;
  }
}
