<div class="password">
    <input
    [type]="hide ? 'password' : 'text'"
      class="app-input"
      [value]="value"
      [placeholder]="placeholder || ''"
      [attr.disabled]="isDisabled ? true : null"
      (keyup)="onKeyup($event.target.value)"
      (blur)="onBlur()"
      [attr.type]="passwordType"
    />
  
    <div class="password__actions" (click)="togglePassword()">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <!-- <img [src]="passwordType === 'password' ? 'assets/img/eye-hidden.png' : 'assets/img/eye-hidden.png'" alt=""> -->
      <!-- <span>{{ passwordType === 'password' ? 'Show' : 'Hide' }}</span> -->
    </div>
  </div>
  