.pm-form {
    form {
        input {
            color: #8a949f;
        }
        span {
            font-weight: 300;
            font-size: 12px;
            line-height: 15px;
            color: #ec5151;
            margin-top: 10px;
            margin-left: 10px;
        }

        button {
            font-weight: 600;
            font-size: 20px;
            line-height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            color: #ccdeeb;
            width: 196px;
            height: 47px;
            background: #4a93c8;
            border-radius: 17.9086px;
            margin: 44px auto 0;
            border: none;
        }
        button:disabled {
            &:hover {
                filter: unset;
                cursor: not-allowed;
            }
        }
    }
}
