<div class="footer-container">
    <div class="footer-first">
        <div class="footer-logo">
            <a routerLink="/">
                <div class="company-logo">
                    <img  src="assets/img/logo.svg" alt="">
                    <img class="mobile" src="assets/img/logo.svg" alt="">
                </div>
            </a>
        </div>
        <div  class="footer-socials">
            <a href="#" target="_blank"><img src="assets/icons/instgram.svg" alt="" ></a>
            <a href="#"><img src="assets/icons/linkedin.svg" alt=""></a>
            <a href="#" target="_blank"><img src="assets/icons/facebook.svg" alt=""></a>
        </div>
    </div>
    <div class="footer-second">
        <div class="footer-info">
            <h4>Contact us</h4>
            <a href="mailto:meltsovv@gmail.com">meltsovv@gmail.com</a>
            
        </div>
    </div>
    <div class="footer-third">
        <div class="footer-info">
            <h4>subscribe for our news updates</h4>
            <form class="subscribe-input">
                <input type="text" placeholder="enter your email" [formControl]="email">
                <button (click)="subscribe()">subscribe</button>
            </form>
        </div>
        <div class="copyright">ⓒcopyright 2022</div>
    </div>
</div>
