.footer-container {
    background: #141618;
    padding: 68px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .footer-logo {
        display: flex;
        flex-direction: column;
        align-items: center;

        .company-logo {
            font-weight: 500;
            font-size: 60px;
            line-height: 76px;
            color: #4a93c8;
            .mobile{
                display: none;
            }
        }

        > span {
            font-weight: 300;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            text-transform: uppercase;

            color: #4a93c8;
            margin-top: 15px;
        }
    }

    .footer-socials {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;

        a {
            margin: 10px;
        }
    }

    .footer-second {
       
        .footer-info {
            margin-bottom: 40px;
        }
        .footer-info h4 {
            font-weight: 500;
            font-size: 30px;
            line-height: 38px;

            text-transform: uppercase;

            color: #8a949f;
        }

        .footer-info p {
            font-weight: 400;
            font-size: 24px;
            line-height: 30px;
            text-transform: capitalize;

            color: #4f5658;
        }
        .footer-info a {
            font-weight: 400;
            font-size: 24px;
            line-height: 30px;
            color: #4f5658;
        }
    }

    .footer-third {
        .footer-info {
            max-width: 535px;
            h4 {
                font-weight: 500;
                font-size: 30px;
                line-height: 38px;

                text-transform: uppercase;
                margin-bottom: 70px;
                color: #8a949f;
            }

            .subscribe-input {
                position: relative;

                input {
                    border: none;
                    background: #252829;
                    color: #8a949f;
                    border-radius: 20px;
                    width: 100%;
                    height: 54px;
                    padding-left: 40px;
                    font-size: 20px;

                    &::placeholder {
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 25px;
                        text-transform: uppercase;

                        color: #4f5658;
                    }
                }
                button {
                    width: 178px;
                    height: 54px;

                    background: #4a93c8;
                    border-radius: 20px;
                    border: none;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 25px;
                    text-transform: uppercase;

                    color: #ffffff;
                    position: absolute;
                    right: 0;
                }
            }
        }
        .copyright {
            font-weight: 400;
            font-size: 24px;
            line-height: 30px;
            text-align: center;
            text-transform: uppercase;

            color: #2e3134;
            margin-top: 65px;
        }
    }
}

@media screen and (max-width: 1280px) {
    .footer-container .footer-second .footer-info {
        h4 {
            font-weight: 500;
            font-size: 24px;
            line-height: 30px;
            text-transform: uppercase;
            color: #8a949f;
        }
        a {
            font-size: 20px;
            line-height: 25px;
        }
    }
    .footer-container .footer-third .footer-info {
        max-width: 428px;
        h4 {
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 28px;
        }
        
    }
}

@media screen and(max-width: 1050px) {
    .footer-container {
        flex-direction: column;
        padding: 69px 25px ;
        align-items: center;

        .footer-first{
            .footer-logo{
                .company-logo{
                    img{
                        display: none;
                        width: 215px;
                        height: 50px;
                        object-fit: contain;
                    }
                    .mobile{
                        display: block;
                    }
                }
            }
        }

        .footer-second{
            margin-top: 30px;
        }
        .footer-third{
            .footer-info{
                    display: none;
            }
        }
    }
}
@media screen and(max-width: 700px) {
    .footer-container {
        margin-top: 0 !important;
        padding-top: 40px !important;
    }
    .footer-logo {
        h2 {
            font-size: 38px !important;
            line-height: 48px !important;
        }
        span {
            font-size: 13px !important;
            line-height: 16px !important;
            margin-top: 0 !important;
        }
    }

    .footer-socials {
        margin-top: 15px !important;
        a {
            img {
                max-width: 35px;
            }
        }
    }

    .footer-second .footer-info {
        h4 {
            font-size: 20px !important;
            line-height: 25px !important;
        }
        p,
        a {
            font-size: 16px !important;
            line-height: 20px !important;
        }
    }
    .footer-third {
        .footer-info {
            display: none;
        }
        .copyright {
            margin-top: 0 !important;
        }
    }

    .subscribe-input {
        input {
            max-width: 534px !important;
            width: 100% !important;
            margin-top: 20px;
            font-size: 16px !important;

            &::placeholder {
                font-size: 16px !important;
                line-height: 25px;
            }
        }
        button {
            position: relative !important;
            margin-top: 15px;
            width: 147px !important;
            height: 42px !important;
            font-size: 15px !important;
        }
    }
    .copyright {
        font-size: 14px !important;
        line-height: 16px !important;
    }
}
