<div class="cookies" *ngIf="!isConsented">
    <div class="cookies-image"><img src="assets/icons/cookiesIcon.svg" alt=""></div>
    <div class="cookies-info">
        <p>
            We use cookies to make your experience on this website better
        </p>
        <p>You can read our <a routerLink="privacy">Privacy Policy</a></p>
        <div>
            <button class="accept" (click)="setCookie('cookie_consent', 'true', 20)">Accept Cookies</button>
            <button class="decline" (click)="setCookie('cookie_consent', 'false', 20)">Decline</button>
        </div>
    </div>
</div>