<app-header></app-header>
<div class="privacy">
    <h2>Privacy Policy</h2>
    <div class="paragraph">
        <h4>Personal Statement</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat. </p>
    </div>
    <div class="paragraph">
        <h4>What are ‘ cookies ’?</h4>
        <p>Cookies are text files with small pieces of data — like a username and password — that are used to identify
            your computer as you use a computer network.</p>
    </div>
    <div class="paragraph">
        <h4>why do we use cookies?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat. </p>
    </div>
    <div class="paragraph">
        <h4>what information do we gather specifically?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat. </p>
    </div>
    <div class="paragraph">
        <h4>disclosure of your information </h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat. </p>
    </div>

</div>
<app-footer></app-footer>