<header>
    <a (click)="burgerService.openRouter('/')" class="company-logo">
        <img src="assets/img/logo.svg" alt="">
    </a>
    <nav class="desktop-nav">
        <a class="header-link" (click)="burgerService.openRouter('/')" [class.header-link__active]="router.url === '/'">
            <div>Home</div>
        </a>
        <a class="header-link" (click)="burgerService.openRouter('news')"  [class.header-link__active]="router.url === '/news'">
            <div>News</div>
        </a>
        <a class="header-link" (click)="burgerService.openRouter('join-us')"  [class.header-link__active]="router.url === '/join-us'">
            <div>Join Us</div>
        </a>
    </nav>
    <button class="burger-toggle" (click)="burgerService.toggleMenu()" [ngClass]="{'close': burgerService.isOpenedNav}" id="click-outside"></button>
    <div class="burger-menu" [ngClass]="{'opened': burgerService.isOpenedNav}">
        <div class="menu" id="click-outside">
            <nav >
                <a class="header-link" [class.header-link__active]="router.url === '/'" (click)="burgerService.toggleMenu('/')" >
                    <div >Home</div>
                </a>
                <a class="header-link"  [class.header-link__active]="router.url === '/news'" (click)="burgerService.toggleMenu('news')">
                    <div>News</div>
                </a>
                <a class="header-link"  [class.header-link__active]="router.url === '/join-us'" (click)="burgerService.toggleMenu('join-us')">
                    <div>Join Us</div>
                </a>
            </nav>
        </div>
    </div>
</header>